.graphContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; // Una gráfica arriba y otra abajo (o row si prefieres lado a lado)
  gap: 10px;
  background-color: transparent; 
  padding: 10px;
  box-sizing: border-box;
}

.chartWrapper {
  flex: 1; // Que ambas ocupen el mismo espacio (50% y 50%)
  background-color: #444444;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  position: relative; // Necesario para que Chart.js se ajuste al tamaño
  min-height: 0; // Truco de CSS Flexbox para evitar desbordamientos
}

h4 {
  margin: 0 0 5px 0;
  font-family: Arial, sans-serif;
  color: #FFF;
  font-size: 14px;
  text-align: center;
}