.newTestContainer {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 1fr 1fr 150px; // Una tercera fila con altura fija (ej. 150px)
  
  gap: 20px; 
  padding: 20px; 
  height: calc(100vh - 80px - 40px);
  box-sizing: border-box;

  grid-template-areas:
    "graphics counter"
    "graphics info"
    "control download"; // Ahora control y download est치n en la tercera fila
}

.graphicsArea {
  grid-area: graphics; /* Posiciona en el 치rea "graphics" */
  //background-color: #3291B6; 
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  //color: white;
}

.counterArea {
  grid-area: counter; /* Posiciona en el 치rea "counter" */
  //background-color: #00bcd4; /* Azul/Cyan */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para centrar el contador y posibles etiquetas */
}

.infoArea {
  grid-area: info; /* Posiciona en el 치rea "info" */
  //background-color: #ffeb3b; /* Amarillo */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlArea {
  grid-area: control; 
  //background-color: #ff69b4; /* Rosa */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.downloadButtonArea {
  grid-area: download; 
  //background-color: #8bc34a; /* Verde */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

