.NavigationBar {
    height: 50 px;
    width: 100%;
    background-color: "#ffffff";
    display: "flex";
    padding: "16px";
}

.Title {
    color: "#FFFFFF";
    font-family: Arial, Helvetica, sans-serif;
    font-style: "Arial";
    font-size: 18;
}

