.counter {
  display: flex;
  gap: 10px; // Espacio entre dígito y dígito
  background-color: #242424; // Fondo oscuro para el contador (? tal vez se puede cambiar
  padding: 10px;
  border-radius: 5px;
  justify-content: center; // Centra los dígitos en su espacio
}